@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #5986F7;
}

ul {
    position: relative;
    transform: skewY(-15deg);
}

ul li {
    position: relative;
    list-style: none;
    width: 200px;
    background: #fff;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}

ul li:hover {
    background: #00f2ff;
    transform: translateX(-50px);
}

ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #e1e1e1;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 1.5s;
}

ul li:hover::before {
    background: #00d9ff;
}

ul li::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #dadada;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 1.5s;

}

ul li:hover::after {
    background: #00d9ff;

}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 1.5s;
}

ul li:hover a {
    color: #fff;

}













ul #li2 {
    position: relative;
    list-style: none;
    width: 200px;
    background: #ffffff;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}

ul #li2:hover {
    background: #ff00bf;
    transform: translateX(-50px);
}

ul #li2::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #e1e1e1;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 1.5s;
}

ul #li2:hover::before {
    background: #ff00dd;
}

ul #li2::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #ffffff;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 1.5s;

}

ul #li2:hover::after {
    background: #ff0090;

}

ul #li2 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 1.5s;
}

ul #li2:hover a {
    color: #fff;

}

















ul #li3 {
    position: relative;
    list-style: none;
    width: 200px;
    background: #ffffff;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}

ul #li3:hover {
    background: #04ff36;
    transform: translateX(-50px);
}

ul #li3::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #e1e1e1;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 1.5s;
}

ul #li3:hover::before {
    background: #04ff36;
}

ul #li3::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #ffffff;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 1.5s;

}

ul #li3:hover::after {
    background: #04ff36;

}

ul #li3 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 1.5s;
}

ul #li3:hover a {
    color: #fff;

}

















ul #li4 {
    position: relative;
    list-style: none;
    width: 200px;
    background: #ffffff;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}

ul #li4:hover {
    background: #ff7b00;
    transform: translateX(-50px);
}

ul #li4::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #e1e1e1;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 1.5s;
}

ul #li4:hover::before {
    background: #ff7b00;
}

ul #li4::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #ffffff;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 1.5s;

}

ul #li4:hover::after {
    background: #ff7b00;

}

ul #li4 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 1.5s;
}

ul #li4:hover a {
    color: #fff;

}




















ul #li5 {
    position: relative;
    list-style: none;
    width: 200px;
    background: #ffffff;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}

ul #li5:hover {
    background: #A413FA;
    transform: translateX(-50px);
}

ul #li5::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #e1e1e1;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 1.5s;
}

ul #li5:hover::before {
    background: #A413FA;
}

ul #li5::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #ffffff;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 1.5s;

}

ul #li5:hover::after {
    background: #A413FA;

}

ul #li5 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 1.5s;
}

ul #li5:hover a {
    color: #fff;

}

















ul #li6 {
    position: relative;
    list-style: none;
    width: 200px;
    background: #ffffff;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}

ul #li6:hover {
    background: #3d2e2b;
    transform: translateX(-50px);
}

ul #li6::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #e1e1e1;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 1.5s;
}

ul #li6:hover::before {
    background: #3d2e2b;
}

ul #li6::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #ffffff;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 1.5s;

}

ul #li6:hover::after {
    background: #3d2e2b;

}

ul #li6 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 1.5s;
}

ul #li6:hover a {
    color: #fff;

}
