* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a1a;
  }
  
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;}
     

   .card {
    width: 40px;
    height: 400px;
    border-radius: 50%;
    width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to left, blue,rgb(255, 0, 217),blue
  ,rgb(227, 74, 138));
  background-size: 500% 100%;
  animation: degrade-animado 5s  infinite alternate ;
  
}

@keyframes degrade-animado {
  0%{
      background-position-x: 0%;
  }
  100%{
      background-position-x: 100%;
  }
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    
    
  } 
  

  .container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0,0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    overflow-y: hidden;
  } 
  .content:hover{
    border-radius: 50%;
    box-shadow: 5px 5px 10px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, blue,rgb(255, 0, 217),blue
    ,rgb(227, 74, 138));
    background-size: 500% 100%;
    animation: degrade-animado 5s  infinite alternate ;
  }
  
  @keyframes degrade-animado {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
  }
  

  .container .card .content{

padding: 20px;
text-align: center;
transform: translateY(100px);
opacity: 0;
transition: 0.5s;
  }

  .container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
  }
  .container .card .content h1{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.005);
    pointer-events: none;
  } 
  .a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.2);
 }




     

